__pycache__/
*.py[cod]
.idea/
*.log
*.pid
*.tmp

# Local environments
.env
.env.*
!.env.example
.venv/
venv/
conda enviroments/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

#Runtime outputs
*_udp_log.txt
*.log